@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

h1, h2, h3, .display {
  font-family: var(--font-oswald);
  text-transform: uppercase;
}

body {
  background: var(--background);
  color: var(--foreground);
}
